{% extends 'store/main.html' %}
{% load static %}
{% block content %}
<link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}">

<div class="container col-lg-8">
    <div class="box-element" data-aos="fade-up"
  data-aos-delay="200"
  data-aos-duration="1500"
  data-aos-easing="ease-in-out">
        <h1>About Us</h1>
        <p>Welcome to <strong>ShopAway</strong> – your trusted online shopping destination.</p>
        <p>We provide high-quality products with reliable service. Our mission is to deliver value and a smooth shopping experience to our customers.</p>
        <p>Our team works hard to bring you the latest trends, best prices, and excellent support.</p>
    </div>
</div>

{% endblock content %}
